@import "tailwindcss";
@plugin "@tailwindcss/typography";


/* insert-theme-here */

pre code.hljs {
    display: initial;
    overflow-x: initial;
    padding: initial;
}

.hljs {
    background: initial;
}