<header class="px-16 h-12 flex items-center justify-between">
    <div class="font-bold text-xl"><a href="/">{{ meta.site }}</a></div>
    <nav>
        <ul>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
</header>