<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ meta.site }}</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-gray-100">
    {{ include "components/header.vto" }}
    <div class="container mx-auto my-8">
        {{ content }}
    </div>
</body>
</html>